.custom-header {
    background-color: #f8f9fa; 
    padding: 1rem; 
  }
  
  .custom-brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .custom-brand {
    font-size: 2rem; 
    font-weight: bold;
  }
  
  .custom-tagline {
    font-size: 1rem; 
    margin-top: 0.5rem; 
  }
  
.space-between {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .header-menu-margin {
    margin-left: 35%; 
  }
  
  .header-color {
    background-color: rgb(117, 188, 190);
  }